{% extends 'base.html.twig' %}

{% block container %}
    <h1>Accident</h1>

    <table class="table table-striped jambo_table bulk_action">
        <tbody>
            <tr>
                <th>Dateacc</th>
                <td>{% if accident.dateAcc %}{{ accident.dateAcc|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ accident.lieu }}</td>
            </tr>
            <tr>
                <th>Idaccident</th>
                <td>{{ accident.idAccident }}</td>
            </tr>
        </tbody>
    </table>


            <a class="btn btn-primary" href="{{ path('accident_index') }}"><i class="fa fa-bars fa-1x"  ></i>  Back to the list</a>

            <a href="{{ path('accident_edit', { 'idAccident': accident.idAccident }) }}"class="btn btn-app"><i class="fa fa-edit"></i>Edit</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}

{% endblock %}
