{% extends 'base.html.twig' %}

{% block container %}
    <h1>Agence edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary" value="Save" />
    {{ form_end(edit_form) }}

            <a class="btn btn-success" href="{{ path('gestion_listAgence') }}">Back to the list</a>
            {{ form_start(delete_form) }}
    <a href="{{ path('gestion_listAgence') }}"><input type="submit" class="btn btn-danger" value="Delete"></a>
            {{ form_end(delete_form) }}
{% endblock %}
