{% extends 'base.html.twig' %}
{% block container %}
    <h1>Liste des assures </h1>
    <form method='post'>
    <table class="table table-striped jambo_table bulk_action">
    <thead>
    <tr class="headings">
        <th class="column-title">Codeassure</th>
        <th class="column-title">Cin</th>
        <th class="column-title">Raison_social</th>
        <th class="column-title">Responsable_societe</th>
        <th class="column-title">Nom</th>
        <th class="column-title">Prenom</th>
        <th class="column-title">Adresse</th>
        <th class="column-title">Email</th>
        <th class="column-title">Tel</th>
        <th class="column-title">Fax</th>
        <th class="column-title">Profession</th>
        <th class="column-title">Dateenreg</th>
        <th class="column-title">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for a in assures %}

    <tr class="headings">
        <td><a class="btn btn-success" href="{{ path('assure_show', { 'id': a.id }) }}">{{ a.id }}</a>
        </td>
        <td>{{ a.cin }}</td>
        <td>{{ a.raisonsocial }}</td>
        <td>{{ a.responsablesociete }}</td>
        <td>{{ a.nom }}</td>
        <td>{{ a.prenom }}</td>
        <td>{{ a.adresse }}</td>
        <td>{{ a.email }}</td>
        <td>{{ a.tel }}</td>
        <td>{{ a.fax }}</td>
        <td>{{ a.profession }}</td>
        <td>{% if a.dateEnreg %}{{ a.dateEnreg|date('Y-m-d H:i:s') }}{% endif %}</td>
        <td>
            <div class="checkbox">
                <label class="">
                    <div class="icheckbox_flat-green" style="position: relative;">
                        <input type="checkbox" class="flat" name="checkedC[]" value="{{ a.id }}" style="position: absolute; opacity: 0;">
                        <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;">
                        </ins>
                    </div>
                </label>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>

    </table>
        <button type="submit" class="buttonPrevious btn btn-success" name="submit_C">accepter</button>
        </form>


{% endblock %}
