{% extends 'base.html.twig' %}
{% block container %}
    <h1>Agents list</h1>

    <table class="table table-striped jambo_table bulk_action">
        <thead>
        <tr>
            <th>Idagent</th>
            <th>Cin</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for agent in ls %}
            <tr>
                <td><a href="{{ path('agent_show', { 'id': agent.id }) }}">{{ agent.id }}</a></td>
                <td>{{ agent.cin }}</td>
                <td>{{ agent.nom }}</td>
                <td>{{ agent.prenom }}</td>
                <td>{{ agent.telephone }}</td>
                <td>{{ agent.adresse }}</td>
                <td>{{ agent.email }}</td>
                <td>
                    <ul>

                        <a  href="{{ path('agent_show', { 'id': agent.id }) }}"  class="btn btn-success" >show</a>


                        <a href="{{ path('agent_edit', { 'id': agent.id }) }}" class="btn btn-warning" >edit</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <a class="btn btn-warning" href="{{ path('agent_new') }}">Create a new agent</a>
    </ul>
{% endblock %}
